html {
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font: normal 100%/1.5 Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
  color: #fff;
  background-color: #d05c2e;
  text-align: center;
  margin: 0;
  padding: .4rem 0;
}

.img1 {
  float: left;
}

.img2 {
  float: right;
}
